body {
  font-family: system-ui,"Hiragino Sans","Meiryo",sans-serif;
}
h1 {
  text-align: center;
}
header {
  display: grid;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}
footer {
  display: grid;
  margin-bottom: 20px;
  justify-content: center;
}
.link-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  width: 80%;
  margin: 20px auto;
}
.link-list span {
  width: 40px;
}
.thumbnail-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.thumbnail-img {
  width:  350px; /* サムネイルの幅 */
  height: 260px; /* サムネイルの高さ */
  object-fit: cover; /* 画像の比率を保ちトリミング */
}
.thumbnail-box {
  padding: 10px;
}
.selected {
  background-color: #7fffd4;
}
